<html>
    <head>
        <title>Upload File: </title>
    </head>
    <body>
        <p>Hello {{username}}</p>
        <form action="/success" method="post" enctype="multipart/form-data">
            <input type="file" name="file"/>
            <input type="submit" value="Upload"/>
            <input type="hidden" id="id" name="id" value={{id}} />
            <input type="hidden" id="username" name="id" value={{username}} />
        </form>
        <a href="/login">
            <button>Logout</button>
        </a>
        <p>Your files</p>
        <ul>
        {% for blob in blobs %}
                <li>
                    {{blob.name}}
                    {{blob.metadata.get('Hash')}}
                    <form action="/download" method="post" enctype="multipart/form-data">
                        <input type="hidden" id="id" name="id" value={{id}}/>
                        <input type="hidden" id="username" name="username" value={{username}}/>
                        <input type="hidden" id="file" name="file" value={{blob.name}}/>
                        <input type="submit" value="Download"/>
                    </form>
                </li>
        {% endfor %}
        </ul>
    </body>
</html>