<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
<form action="/verify" method="post" enctype="multipart/form-data">
    <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" id="username" value="test" required>
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="username" value="test" required>
  
      <button type="submit">Login</button>
      {% if fail %}
      <p>Incorrect password</p>
      {% endif %}
      <div class="container signin">
        <b>Don't have an account?<a href="/register"> Register</b>
      </div>
    </div>
  </form> 